.footer {
	background-color: $gray-100;

	padding-top: rem(40);
	@include media-breakpoint-up(lg) {
		padding-top: rem(80);
		padding-bottom: rem(40);
	}
	padding-bottom: rem(90);

	&__polite {
		text-decoration: underline;
		@include media-breakpoint-up(md) {
			text-decoration: none !important;
		}
		color: $body-color;
		display: block;
		margin-top: rem(5);
		margin-bottom: rem(17);
		@include media-breakpoint-up(md) {
			margin-top: rem(15);
			margin-bottom: rem(29);
		}
	}

	//Левый кол
	&__col {
		padding-top: rem(8);
		@include media-breakpoint-down(md) {
			text-align: center;
			padding-bottom: rem(10);
		}
	}

	p {
		line-height: 1.85;
		margin-bottom: rem(10);
		@include media-breakpoint-down(md) {
			max-width: rem(450);
			margin-left: auto;
			margin-right: auto;
		}
	}

	// мессенджеры
	&__write {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: rem(30);
		@include media-breakpoint-up(lg) {
			justify-content: flex-end;
			margin-bottom: rem(46);
		}

		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}

		.messengers {
			@include media-breakpoint-up(md) {
				margin-left: rem(20);
			}
			@include media-breakpoint-down(sm) {
				margin-top: rem(15);
			}
		}
	}

	// Соц сети
	&__soc {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: rem(27);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(47);
		}
		@include media-breakpoint-down(xl) {
			flex-direction: column;
		}

		p {
			margin-bottom: rem(8);
			@include media-breakpoint-up(lg) {
				margin-right: rem(42);
				padding-bottom: 0;
				margin-left: auto;
			}
			@include media-breakpoint-up(xxl) {
				margin-bottom: 0;
				margin-right: 0;
			}
		}

		.soc {
			@include media-breakpoint-up(lg) {
				margin-left: auto;
			}
			// margin-top: rem(15);

			// @include media-breakpoint-up(md) {
			// 	margin-top: rem(20);
			// }
			@include media-breakpoint-up(xxl) {
				margin-top: 0;
				margin-left: rem(13);
			}


			&__item {
				display: flex;
				align-items: center;
				border-radius: rem(5px);
				padding: rem(6) rem(26);
				@include media-breakpoint-up(md) {
					width: rem(155);
					padding: rem(4.5) rem(21) rem(5);
				}
			}

			.icon-vk {
				font-size: rem(16);
				margin-right: rem(9);
			}

			.icon-inst {
				font-size: rem(25);
				margin-right: rem(10);
			}
		}

		.icon,
		span {
			color: #fff;
		}


		.vk {
			background-color: #4a76a8;
		}

		.inst {
			background-color: #ee4959;
		}
	}

	//Лого
	&__logo {
		text-decoration: none !important;
		margin-top: rem(17);
		@include media-breakpoint-up(md) {
			margin-top: 0;
			margin-left: rem(10);
		}
	}

	&__dev {
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}
		@include media-breakpoint-up(lg) {
			justify-content: flex-end;
		}
	}

	.icon-logo {
		font-size: rem(43);
		margin-right: 3px;
		@include media-breakpoint-up(md) {
			font-size: rem(48);
		}
	}

	.icon-logo-text {
		color: $body-color;
		font-size: rem(43);
		@include media-breakpoint-up(md) {
			font-size: rem(47);
		}
	}

	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
