.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrowL {
	font-size:(30/10)*1rem;
	width:(18/30)*1em;
}
.icon-arrowNext {
	font-size:(12/10)*1rem;
	width:(24/12)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-clock {
	font-size:(45/10)*1rem;
	width:(27/45)*1em;
}
.icon-flag {
	font-size:(45/10)*1rem;
	width:(37/45)*1em;
}
.icon-inst {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-link {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-logo {
	font-size:(64/10)*1rem;
	width:(63/64)*1em;
}
.icon-logo-text {
	font-size:(64/10)*1rem;
	width:(153/64)*1em;
}
.icon-mouse {
	font-size:(30/10)*1rem;
	width:(18/30)*1em;
}
.icon-phone {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-rbk {
	font-size:(20/10)*1rem;
	width:(75/20)*1em;
}
.icon-rocket {
	font-size:(45/10)*1rem;
	width:(37/45)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(18/16)*1em;
}
.icon-viber {
	font-size:(25/10)*1rem;
	width:(24/25)*1em;
}
.icon-vk {
	font-size:(15/10)*1rem;
	width:(25/15)*1em;
}
.icon-whatsapp {
	font-size:(23/10)*1rem;
	width:(23/23)*1em;
}
