mixin sThank(inst)
	// start sThank
	+b.SECTION.sThank.section#sThank&attributes(attributes)
		.container
			+b.section-title.text-center
				!= '<?php if(isset($flash)) { ?>'
				h2.strong <?php echo $flash; ?>, спасибо, я&nbsp;принял вашу заявку!
				!= '<?php } else{	  ?>'
				h2.strong Спасибо, я&nbsp;принял вашу заявку!
				!= '<?php	} ?>'
				//- h2 Спасибо, я&nbsp;принял вашу заявку!
				!= '<?php if(isset($time)) { ?>'
				.h6 Перезвоню вам в&nbsp;указанное время и&nbsp;отвечу на&nbsp;ваши вопросы.
					<br>Хорошего дня!
				
				!= '<?php 	}  else if(isset($qwiz)) { ?>'
				.h6 Перезвоню вам в&nbsp;ближайшее время, задам дополнительные  вопросы по&nbsp;задаче и&nbsp;озвучу стоимость работ.
					<br>Хорошего дня!

				!= '<?php } else{	  ?>'
				.h6 Перезвоню вам в&nbsp;ближайшее время и&nbsp;отвечу на&nbsp;ваши вопросы.
					<br>Хорошего дня!
				!= '<?php	} ?>'
				.h6.text-primary А&nbsp;пока вы&nbsp;ждете звонка, подписывайтесь на&nbsp;мой профиль&nbsp;в #[a(href=`${inst}` target="_blank") Instagram.] Вы&nbsp;узнаете больше обо мне и&nbsp;о&nbsp;нашей компании:
				+e.imgWrap(href=`${inst}`  target="_blank")
					img.res-i(src="img/@2x/photo.jpg", alt="")
				+e.inst(href= inst  target="_blank") @simonov__evgeny
				+e.subscribe.btn.btn-primary(href= inst  target="_blank") Перейти и подписаться

	// end sThank