
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	.d-none
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.row.text-center
				+e.col.col.d-none.d-lg-block
					+pic('photo-modal')
					+e.nameWrap
						+e.name Евгений Симонов
						+e.position Руководитель агентства
				+e.form.col
					.text-center
						+e.titleMain Укажите ваши контакты и&nbsp;время для звонка
						+e.subtitle Я&nbsp;перезвоню вам прямо сейчас или в&nbsp;другое рабочее время. Мы&nbsp;работаем ежедневно с&nbsp;07:00 до&nbsp;18:00 по&nbsp;МСК.
					+input("+7 (912) 345-67-89","tel","Введите телефон:")(required)
					+form-tabs()
					//- +input("Ваше Имя")(required) 
					//- +input("email","Ваше email")(required)
					//- +text( "Комментарий")
					+e.INPUT.btn.btn.btn-primary(type="submit" value="Перезвоните мне") 
					+polite()

		+b.modal-win--mobMNU.text-center(id="mob-menu")
			+e.tel.h6(href="tel:+7(963)097-09-90") +7 (963) 097-09-90
			+e.call.btn(href="#") Перезвоните мне
			p Напишите нам, мы онлайн:
			+messengers()




		// #modal-call
	// modal