mixin sQwiz()
	// start sQwiz
	+b.sQwiz#sQwiz&attributes(attributes)
		.container
			+e.FORM.wrap
				mixin item(pr,t,...items)
					+e.item
						if pr
							+e.top
								+e.to-main(href="/")
									+icon('arrowL')
									span На главную
								+e.descr Ответьте на&nbsp;несколько вопросов, чтобы мы&nbsp;могли точнее понять задачу и&nbsp;рассчитать стоимость работы:
							.row
								.col
									+e.main
										+e.progress
											+e.progress-bar(style=`width:${pr/4*100}%`)
										+e.head= pr
											|из 4
										+e.title.h2= t
										.custom-radio
											each item in items
												input(type="radio" name=`Вопрос:${pr}` id=`${item}`)
												label.btn(for=`${item}`)= item
										+e.next.btn.btn-primary Далее
											+icon('arrowNext')
								+e.sitebar.col
									+e.supervisor 
										+pic('ev')
										div
											.h6 Евгений Симонов
											p Руководитель агентства
									+e.about.text-center
										p У&nbsp;нас есть опыт работы с&nbsp;более чем 20 сферами бизнеса. Мы&nbsp;делали сайты для&nbsp;автосервиса, клиники стоматологии, компаний по производству шлакоблоков и&nbsp;малых архитектурных форм.
										p Анализ продукта, целевой аудитории, конкурентов&nbsp;&mdash; вот основа для работы с&nbsp;любой сферой.
									+e.consultation.btn(href="#") Получить консультацию
									+e.telWrap
										+e.tel(href="tel:+7(963)097-09-90") +7 (963) 097-09-90
									+messengers
						else
							block



				+item('1','В какой сфере Ваш бизнес?', 'Сфера услуг (B2B)', 'Сфера услуг (B2C)', 'Розничная торговля','Оптовая торговля','Производство','Промышленность','Обучение','Другое')
				+item('2','У вас уже есть сайт?','Да','Нет')
				+item('3','Что вы хотите получить от сайта?','Больше клиентов и продаж','Увеличение среднего чека','Нужен сайт, как презентация компании', 'Хочу перевести бизнес в онлайн','Другое')
				+item('4','Вы планируете запускать рекламу?','Да', 'Нет')



	// end sQwiz