extends layout/main.pug
block php
	!= '<?php ' 
	| session_start();
	| $flash = $_SESSION['success'];
	| ?>

include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sThank/_sThank.pug 
include ../blocks/sAbout/_sAbout.pug 

block variables
	- let  mainPage= 'whitePage'
block title
	- let  title= 'Evgeny Simonov'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		+topLine()
		//- +headerBlock()
	+sThank()
	+footer()
		+sAbout()