mixin topLine()
	// start topLine
	+b.SECTION.topLine.section#topLine&attributes(attributes)
		.container
			.row.justify-content-between
				.col.d-flex.pt-2
					+e.logo(href="#")
						+icon('logo')
						+icon('logo-text')
					.d-none.d-sm-block
						p Агентство интернет&#8209;маркетинга и&nbsp;упаковки бизнеса
				+e.col.col.d-none.d-lg-flex
					+messengers()
					+e.tel(href="tel:+79630970990") +7 (963) 097-09-90
					+e.call.btn.link-modal(href="#modal-call") Перезвоните мне
				.col.d-lg-none
					+e.contact.btn.link-modal(href="#mob-menu")
						+icon('phone')


	// end topLine